.clue-tile {
  height: 16vh;
  border: 3px solid white;
  background-color: blue;
  font-size: 60px;
  font-weight: bold;
  color: yellow;

  span {
    line-height: 16vh;
    display: inline-block;
    vertical-align: middle;
  }
}
