.category-header {
  height: 16vh;
  border: 3px solid white;
  background-color: blue;
  font-size: 30px;
  font-weight: bold;
  color: yellow;

  span {
    line-height: 16vh;
    vertical-align: middle;
  }
}
